
/*********** INFORMATION *****************************
Crowd Automation

*****************************************************/


/*  ==================
    2. ITEM RESET
    ==================  */

label {
	cursor: pointer;
}
input[type="radio"],
input[type="reset"],
input[type="checkbox"] {
	display: none;
	visibility: hidden;
	opacity: 0;
}
a {
	text-decoration: none;
}
{
	width: 1000px; /* <-- Adjust this value to change the width of the forms */
	position: relative;
	margin: 5% auto;
	z-index: 10;
}
/* === Note === If you experience issues with reset above, please adjust the selectors and values according to your template/website.
When adjusting the reset is adviced to check up the elements on your page, as they might distort. */


/*  ==================
    3. MAIN STYLES
    ==================  */

#slick-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
#slick-popup:target {
	opacity: 1;
	visibility: visible;
	z-index: 99999;
	overflow: auto;
}
.forms {
	background: #fff;
	position: relative;
	width: 100%;
	height: auto;
	float: left;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}
.forms > div {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	background: #fff;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	padding: 40px;
	float: left;
}
input#contact.contact-selector:checked ~ .forms .contact-form,
input#feedback.feedback-selector:checked ~ .forms .feedback-form,
input#questionnaire.questionnaire-selector:checked ~ .forms .questionnaire-form {
	position: relative;
	z-index: 10;
	opacity: 1;
	visibility: visible;
}
.w-100,
.w-47,
.w-30 {
	float: left;
	display: inline-block;
	position: relative;
}

.w-47 {
	width: 47%;
}

.mr-5 {
	margin-right: 5%;
}
.mr-6 {
	margin-right: 6%;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.bt {
	border-top: solid 1px #f0f0f0;
}
.clrfx {
	clear: both;
	display: block;
	width: 100%;
	float: left;
}
.clrfx.merge {
	width: 100%;
	height: 12px;
	background: #fff;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 998;
}
.clrfx.map-div {
	border-bottom: solid 1px #ddd;
	margin: 10px 0 6px 0;
}
#slick-popup a.close-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	z-index: 0;
}

/***** Google maps *****/

.map {
	display: inline-block;
	float: left;
	width: 100%;
	height: 397px;
}
.map-wrap {
	padding: 14px;
	width: 260px;
}
.map-wrap .b-title {
	font-size: 14px;
	text-transform: uppercase;
	color: #FF2424;
	padding-bottom: 4px;
	display: block;
	width: 100%;
}
.map-wrap p {
	display: block;
	clear: both;
	font-size: 12px;
	color: #999;
	padding-bottom: 4px;
}
.map-wrap .b-info {
	font-size: 11px;
	color: #333;
	display: inline-block;
	float: left;
	margin-top: 12px;
}
.map-wrap .b-info span {
	padding-right: 6px;
}


/*  ==================
    4. NAV LABELS
    ==================  */

/***** Tab labels *****/

label.tabs {
	background: #888;
	font-size: 20px;
	color: #666;
	line-height: 33px;
	width: 50%;
	height: 34px;
	position: relative;
	float: left;
	display: block;
	text-align: center;
}
label.tabs:hover {
	background: #999;
	color: #fff;
}
/*input:checked + label.tabs {
	background: #fff;
	color: #ff2424;
	z-index: 100;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
}*/

input:checked + label.tabs_accepter {
	background: #0563ac;
	color: #fff;
}

input:checked + label.tabs_requester {
	background: #ee8722 ;
	color: #fff;
}
/*  ==================
    5. TEXT ELEMENTS
    ==================  */

/***** Headings *****/

/*.title {
	font-family: 'Lobster', cursive;
	font-weight: normal;
	font-size: 32px;
	color: #333;
	line-height: normal;
	display: inline-block;
	float: left;
}*/

/***** Paragraphs *****/

p.tick-text {
	font-size: 10px;
	color: #999;
	display: inline-block;
	float: left;
	margin: 8px 0 0 10px;
}
p.ratings {
	font-size: 12px;
	color: #999;
	display: inline-block;
	float: left;
}
p.ratings span {
	font-size: 16px;
	color: #ddd;
	padding-right: 10px;
}
.terms {
	position: relative;
	float: left;
	margin: 10px 0 0 0;
	font-size: 10px;
	color: #bbb;
}
.terms a {
	color: #333;
}

/***** Tooltip *****/



/***** Social icons *****/



/*  ==================
    6. INPUTS
    ==================  */

/***** Main *****/



/***** Select input *****/


select.grayed {
	color: #999;
}
#arrow-select,
#arrow-select-svg {
	background: #fff url('img/select.png') no-repeat 0 11px;
	width: 44px;
	height: 35px;
	position: absolute;
	right: 1px;
	top: 1px;
	pointer-events: none;
	vertical-align: middle;
	outline: none;
	border: none;
	z-index: 3;
}
select:hover ~ #arrow-select,
select:focus ~ #arrow-select,
select:hover ~ #arrow-select-svg,
select:focus ~ #arrow-select-svg {
	background: #fff url('img/select-focus.png') no-repeat 0 11px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#arrow-select-svg {
		display: none; /* <-- Hide svg arrow in webkit browsers and IE9/10 (pointer events don't work in those IE) */
	}
}
x:-o-prefocus, #arrow-select {
	display: none; /* <-- Hack for Opera 12 */
}

/***** Placeholders *****/

/*-- Webkit --*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: #ccc;
}
/*-- Firefox 19 down --*/
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: #ccc;
}
/*-- Firefox 19 up --*/
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: #ccc;
}
/*-- IE 10+ --*/
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: #ccc;
}
/*-- IE 9 --*/
.ie9-placeholder {
	color: #999 !important;
}
.ie9-placeholder:focus {
	color: #ccc !important;
}

/***** Validations *****/

.field input:required,
.field textarea:required,
.field select:required {
	background: #fff url(img/required.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}
.field input:hover:invalid,
.field textarea:hover:invalid,
.field select:hover:invalid {
	background: #fff url(img/focused.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}
.field input:required:valid,
.field textarea:required:valid,
.field select:required:valid {
	background: #fff url(img/valid.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}
.field input:focus:invalid,
.field textarea:focus:invalid,
.field select:focus:invalid {
	background: #fff url(img/invalid.png) no-repeat 100% 15px;
	outline: none;
	box-shadow: none;
}

/***** Send button *****/

input.send {
	display: inline-block;
	background: #FF2424;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	color: #fff;
	width: auto;
	padding: 6px 28px;
	border: none;
	outline: none;
	float: right;
	clear: none;
}
input.send:hover,
input.send:focus {
	border: none;
	outline: none;
	background: #333;
	cursor: pointer;
}

/***** Rating stars input *****/

.stars {
	border: none;
	outline: none;
	z-index: 3;
	position: relative;
	float: right;
}
.stars:not(:checked) > label {
	float: right;
	width: auto;
	padding: 2px 0 0 4px;
	overflow: visible;
	white-space: nowrap;
	font-size: 18px;
	line-height: 18px;
	color: #ddd;
	position: relative;
}
.stars:not(:checked) > label:before {
	font-family: 'entypo', sans-serif;
	content: "\2605";
}
.stars > input:checked ~ label {
	color: #ff2424;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
	color: #ff2424;
}
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
	color: #ff2424;
}

/***** Block checkboxes *****/

.blocks {
	border: none;
	outline: none;
	float: left;
	display: block;
	clear: both;
}
.blocks label {
	display: inline-block;
	background: #ccc;
	padding: 6px 14px;
	font-size: 11px;
	color: #fff;
	cursor: pointer;
	margin: 20px 4px 0 0;
}
.blocks label:hover {
	background: #FF2424;
}
.blocks input:checked + label { 
	background: #FF2424;
}

/***** Tick checkboxes *****/

label.tick {
	width: auto;
	position: relative;
	display: inline-block;
	float: left;
}
label.tick:before {
	position: absolute;
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	background: #fff;
	border: solid 2px #ddd;
}
label.tick:after {
	opacity: 0;
	visibility: hidden;
	content: "";
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 2px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
input:checked + label.tick:after {
	opacity: 1;
	visibility: visible;
}
label.tick span {
	font-size: 11px;
	color: #999;
	padding-left: 26px;
}
label.tick:hover span {
	color: #333;
}

/***** Upload input *****/

.upload .btn span {
	font-size: 16px;
	color: #fff;
	background: #FF2424;
	line-height: 36px;
	text-align: center;
	height: 39px;
	width: 38px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.upload .btn span:hover,
.upload .btn:hover span {
	background: #c61818;
}
.upload .btn input#uploads {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.upload > input.read-only {
	font-size: 12px;
	color: #999;
	padding: 12px 20px 10px 50px;
	width: 100%;
}
.upload .btn:hover ~ input.read-only {
	border: solid 1px #c61818;
}

/***** Reset input *****/

.reset {
	border: 0 none;
	color: #ccc;
	display: inline-block;
	font-size: 12px;
	outline: 0 none;
	background: none;
}
.reset:focus,
.reset:hover {
    color: #333;
}
.reset span {
	margin-right: 6px;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	margin-top: -2px;
}
.reset:hover span {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}


/*  ==================
    7. TRANSITIONS
    ==================  */

a,
#slick-popup,
label,
input,
select,
textarea,
.reset span,
.upload .btn span,
input ~ span.icon,
select ~ span.icon,
textarea ~ span.icon {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input#contact.contact-selector:checked ~ .forms .contact-form,
input#feedback.feedback-selector:checked ~ .forms .feedback-form,
input#questionnaire.questionnaire-selector:checked ~ .forms .questionnaire-form {
	-webkit-transition: all ease 0.3s 0.1s;
	-moz-transition: all ease 0.3s 0.1s;
	-ms-transition: all ease 0.3s 0.1s;
	-o-transition: all ease 0.3s 0.1s;
	transition: all ease 0.3s 0.1s;
}


/*  ==================
    8. MEDIA QUERIES
    ==================  */

/***** Max width 1024px *****/

@media screen and (max-width:1024px) {

}

/***** Max width 768px *****/

@media screen and (max-width:768px) {
	.w-47,
	.w-30 {
		width: 100%;
	}
	.mr-6,
	.mr-5 {
		margin-right: 0;
	}
	.map {
		margin-top: 20px;
	}
	input.send {
		float: left;
		clear: both;
		font-size: 16px;
	}
	.w-30,
	.reset,
	.terms,
	.mr-5 {
		margin-bottom: 20px;
	}
}

/***** Max width 480px *****/

@media screen and (max-width:480px) {
	.stars {
		margin-top: 10px;
		display: block;
		float: left;
		clear: both;
	}
	.terms-window > div {
		width: 100%;
		margin: 5% 0;
	}
	p.ratings,
	.field input,
	.field textarea,
	.field select {
		font-size: 16px;
	}
	p.intro {
		font-size: 14px;
		line-height: 20px;
	}
	input.send {
		width: 100%;
		padding: 12px;
	}
	label.tabs {
		width: 100%;
	}
	.forms {
		margin-top: -12px;
	}
	.clrfx.merge {
		position: relative;
		float: left;
		top: 3px;
	}
	.sb {
		top: auto;
		bottom: 9px;
		left: 0;
		right: 0;
		margin: 3px 0 10px;
		text-align: center;
	}
	.forms > div {
		padding-bottom: 50px;
	}
}
